{{!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>--}}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<title></title>
</head>
<body>
	<div class="container-principal">

		<div class="logo">
			<img class="imagen-instagram" src="https://cdn.worldvectorlogo.com/logos/instagram-1.svg">
		</div>
		
		<div class="imagenes">

			<div class="img1">
		
			<div>
			<img class="foto-universo" src="{{fotos.img}}"/>
			<img class="foto-like" data-id="{{fotos.id}}"src="{{fotos.corazon}}"/>
			<p class="likes">{{fotos.likes}}</p>	
			</div>
			</div>
		

			</div>

		</div>

	
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>